body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  z-index: 1;
}
body .header {
  display: grid;
  grid-template-columns: 1.5fr 6fr 2fr;
  align-items: center;
  position: fixed;
  padding: 5px;
  width: 100%;
  height: 25px;
  background-color: white;
  z-index: 100;
}
body .header .header__first {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}
body .header .header__second span,
body .header .header__last span {
  font-size: 12px;
  padding-left: 30px;
}
body .main .main__img {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/main.png");
  background-position: center center;
  background-size: cover;
  padding-top: 25px;
}
body .main .main__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
}
body .main .main__images .main__image-men {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/main_men.png");
  background-position: center center;
  background-size: cover;
}
body .main .main__images .main__image-women {
  width: 100%;
  height: 100vh;
  background-image: url("../../img/main_women.png");
  background-position: center center;
  background-size: cover;
}
body .main .mens__clothing {
  margin: 35px 5px;
}
body .main .mens__clothing-span,
body .main .womens__clothing-span {
  font-size: 20px;
}
body .main .mens__clothing-list,
body .main .womens__clothing-list {
  display: grid;
  grid-template-columns: repeat(3, 33.333333%);
  position: relative;
  height: 92.5vh;
  margin: 15px 0px;
  padding-right: 10px;
  gap: 5px;
}
body .main .mens__clothing-first--img,
body .main .mens__clothing-second--img,
body .main .mens__clothing-last--img,
body .main .womens__clothing-first--img,
body .main .womens__clothing-second--img,
body .main .womens__clothing-last--img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
body .main .mens__clothing-first--info,
body .main .mens__clothing-second--info,
body .main .mens__clothing-last--info,
body .main .womens__clothing-first--info,
body .main .womens__clothing-second--info,
body .main .womens__clothing-last--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
body .main .mens__clothing-first--info span,
body .main .mens__clothing-second--info span,
body .main .mens__clothing-last--info span,
body .main .womens__clothing-first--info span,
body .main .womens__clothing-second--info span,
body .main .womens__clothing-last--info span {
  margin-top: 10px;
}
body .main .mens__clothing-first .mens__clothing-first--img {
  background-image: url("../../img/mens_1.png");
}
body .main .mens__clothing-second .mens__clothing-second--img {
  background-image: url("../../img/mens_2.png");
}
body .main .mens__clothing-last .mens__clothing-last--img {
  background-image: url("../../img/mens_3.png");
}
body .main .womens__clothing {
  margin: 125px 5px;
}
body .main .womens__clothing .womens__clothing-first .womens__clothing-first--img {
  background-image: url("../../img/womens_1.png");
}
body .main .womens__clothing .womens__clothing-second .womens__clothing-second--img {
  background-image: url("../../img/womens_2.png");
}
body .main .womens__clothing .womens__clothing-last .womens__clothing-last--img {
  background-image: url("../../img/womens_1.png");
}
body .main .jeans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
}
body .main .jeans .men__jeans,
body .main .jeans .women__jeans {
  width: 100%;
  height: 130vh;
  background-position: center center;
  background-size: cover;
  padding: 15px;
}
body .main .jeans .men__jeans {
  background-image: url("../../img/mens_4.png");
}
body .main .jeans .women__jeans {
  background-image: url("../../img/womens_4.png");
}
body .main .boots {
  margin: 75px 0px 70px 0px;
}
body .main .boots .boots__info {
  margin-left: 10px;
}
body .main .boots .boots__info span {
  font-weight: 700;
  font-size: 38px;
}
body .main .boots .boots__info p {
  width: 72.5%;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
}
body .main .boots .boots__images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
body .main .boots .boots__images .boots__images-first,
body .main .boots .boots__images .boots__images-second,
body .main .boots .boots__images .boots__images-third {
  width: 100%;
  height: 90vh;
  background-position: center center;
  background-size: cover;
}
body .main .boots .boots__images .boots__images-first {
  background-image: url("../../img/boots_1.png");
}
body .main .boots .boots__images .boots__images-second {
  background-image: url("../../img/boots_2.png");
}
body .main .boots .boots__images .boots__images-third {
  background-image: url("../../img/boots_3.png");
}
body .footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
  margin: 75px 75px;
}
body .footer .footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
body .footer .footer__right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
body .footer .footer__right p {
  margin: 75px;
}/*# sourceMappingURL=styles.css.map */